
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 15vh;
  border: 2px solid black;
  outline: none;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.operations button{
    color: black;
    
}
.operations button:hover{
    background-color: aqua;
    border: 2px;
    
}
